:root {
    --default-color: #D4AC2B; 
    --default-gradient: linear-gradient(180deg, #EEC44F, #FEDE84 10%, #F6E1A4, #E9D49B, white) 
}

* {
    margin: 0px; 
}

header {
    background-color: #D4AC2B;
    line-height: 136px;
    height: 136px; 
    vertical-align: middle;
}

header li {
    list-style: none; 
    line-height: 136px;
}

header nav h1 { 
    text-align: left;
    font-family: 'iCiel Pacifico', 'Pacifico';
    font-weight: 400;
    color: white; 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 344px;
    height: 239px;
    border-radius: 15px;
}

body {
    background-image: var(--default-gradient);
    font-family: 'Raleway'; 
}

.main {
    background-color: rgba(217, 217, 217, 0.6);
    margin: 71px 50px 63px 50px; 
    border-radius: 30px; 
    padding-left: 36px; 
    padding-top: 20px; 
    padding-right: 80px; 
    display: flex; 
    flex-direction: column;
}

.card-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem; 
}

.card {
    padding: 1rem;
}

footer {
    background-color: black;
    padding-left: 130px; 
    padding-top: 30px; 
    height: 144px;
}

footer a { 
    color: white; 
    font-family: 'Raleway';
    font-size: 16px; 
}

@media only screen and (min-width: 600px) {

    ul {
        display: none; 
    }

    header i {
        display: flex; 
        color: white; 
        margin-left: 50px; 
        font-size: 36px; 
    }

    header h1 {
        text-align: left;
        font-size: 45px; 
    }

    header ul {
        display: none; 
    }
}

@media only screen and (min-width: 1080px) {
    
    header i {
        display: none;
        visibility: hidden; 
    }

    header h1 {
        float: left; 
        text-align: left;
        font-size: 45px; 
        margin-left: 72px; 
    }

    header ul {
        display: flex;
        float: right; 
        gap: 3rem; 
        margin-right: 111px; 
    }

    header ul li {
        font-family: 'Ovo', serif;
        font-size: 30px; 
    }

    header li a {
        color: white; 
        text-decoration: none;
    }

    .main {
        height: 700px; 
    }
}